:root {

    --margin-mini: 8px;
    --margin-gap: 10px;
    --margin-default: 20px;
    --margin-double: 40px;
    --margin-page: 20px;
    --margin-header: 40px;
    --margin-group: 60px;
    --margin-article: 80px;

    --article-top: 60px;
    --article-gap-outer: 60px;
    --article-gap-inner: 25px;
    --article-bottom: 80px;

    --size-hero-minheight: 560px;
    --size-hero-radius: 20px;
    --size-hero-safetop: 280px;
    --size-hero-safetop-text: 275px;
    --size-hero-max: 1600px;

    --size-header-max: 1420px;
    --size-header-radius: 20px;

    --size-card-minheight: 200px;
    --size-card-maxwidth: 450px;
    --size-minicard-minheight: 150px;
    --size-card-radius: 18px;
    --size-card-radius-inner: 8px;

    --size-column-max: 480px;
    --size-innercolumn-max: 750px;
    --size-thirdcolumn-max: 394px;

    --font-size-title1: 2.824rem; // 48px
    --font-line-title1: 3.353rem; // 57px
    --font-size-title1b: 1.882rem; // 32px
    --font-line-title1b: 2.235rem; // 38px
    --font-size-title2: 1.882rem; // 32px
    --font-line-title2: 2.235rem; // 38px
    --font-size-title3: 1.647rem; // 28px
    --font-line-title3: 1.941rem; // 33px
    --font-size-title3b: 1.176rem; // 20px
    --font-line-title3b: 1.294rem; // 22px
    --font-size-title4: 1rem; // 17px
    --font-line-title4: 1.471rem; // 25px

    --font-size-subtitle: 0.941rem; // 16px
    --font-line-subtitle: 1.412rem; // 24px

    --font-size-header: 0.941rem; // 16px
    --font-line-header: 1.412rem; // 24px
    --font-size-body: 1rem; // 17px
    --font-line-body: 1.353rem; // 23px

    --font-size-small: 0.882rem; // 15px
    --font-line-small: 0.882rem; // 15px
    --font-size-footer: 0.882rem; // 15px
    --font-line-footer: 1rem; // 17px
    --font-size-mini: 0.706rem; // 12px
    --font-line-mini: 1.059rem; // 18px


    --color-azure: #5AC4ED;
    --color-azure-off: #DEF3FB;
    --color-azure-light: #9DE3F9;
    --color-azure-dark: #316E86;
    --color-azure-back: #262E36;

    --color-red: #E2001A;
    --color-red-light: #FF908B;
    --color-red-off: #F9C0BB;

    --color-aqua: #5AEDE4;
    --color-green: #e3dd00;

    --color-text-default: #1A1B3A;
    --color-text-footer: #FFFFFF;
    --color-text-contrast: #FFFFFF;
    --color-text-gray: #989898;

    --color-background-page: #F0F1F3;
    --color-background-gray-light: #F5F5F5;
    --color-background-gray-logo: #4B4B4D;
    --color-background-box: #FFFFFF;
    --color-background-blue: #1A1B3A;
    --color-background-gray: #4A4A62;
    --color-background-map: #F0F1F3;
    --color-background-wait: #F0F1F3;
    --color-background-image: #DBDBDE;
    --color-background-footer: #1B2830;
    --color-background-prefooter: #DBDBDE;

    --color-border: #D0D1D7;
    --color-border-input: rgb(224, 224, 230);
}

@media screen and (max-width: 1060px) {
    :root {}
}

@media screen and (max-width: 600px) {
    :root {
        --margin-page: 20px;

        --article-top: 20px;
        --article-gap-outer: 30px;
        --article-gap-inner: 22px;
        --article-bottom: 40px;

        --size-hero-safetop-text: 175px;

        --font-size-title3: 24px;
        --font-line-title3: 28px;
    }
}