# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

bun.lock
bun.lockb
package-lock.json
pnpm-lock.yaml

localhost-key.pem
localhost.pem

schema.graphql